<div
    style=" border: 1px solid grey; display: flex; flex-direction: column; flex-wrap: no-wrap; justify-content: center; align-items: center; text-align: center;">
    <form class="pure-form" action="">
        <fieldset class="pure-group">
            <input class="pure-input-2-3" placeholder="Recolher o lixo" type="text" name="" id="">
            <input class="pure-input-2-3" placeholder="As vezes é bom manter a higiente, não acha?" type="text" name=""
                id="">
        </fieldset>
    </form>
</div>